* {
    padding: 0;
    margin: 0;
}
body {
   margin: auto;
   font-family: 'Roboto';
   width: 1480px;
   

}
.header-ramda {
  width: 1280px;
padding-left: 100px;
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
flex-direction: column;
text-align: center;
margin-left: 98px;
padding-top: 63px;
}
.black {
    color: #000000;
}
.blue {
    color: #4BCAFF ;
  }
.ramda-link {
    text-decoration: none;
    margin-right: 1048px;
  }
.header-menu {
    
    background: #35444F;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1280px;
    height: 69px;
    
    
    
    
    
  }
.menu-flex {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    height: 27px;
    line-height: 28px;
    padding-top: 22px;
    padding-bottom: 20px;
    }
.link-li1 {
  text-decoration: none;
  color: inherit;
}
.li1{
    padding-left: 38px;
    padding-right: 39px;
    padding-top: 22px;
    padding-bottom: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
   }
.menu-flex li:nth-child(2) {
    border-left: none;
  }
.menu-flex li:nth-child(3) {
    border-left: none;
  }
.menu-flex li:nth-child(4) {
    border-left: none;
  }
.aside-menu {
    margin-left: 100px;
    margin-top: 49px;
    width: 344px;
    height: 397px;
    border: 1px solid #000000;
    margin-right: 0px;
    overflow: hidden;
    
  }
.aside-menu-flex {
  color: #485863;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: inline-block;
  }
.li2 {
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 44px;
  padding-right: 96px;
}
.li2-1 {
  padding-bottom: 29px;
}
.bord-img {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  position: relative;
 
}
.img-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.content{
  float: right;
  margin-top: 49px;
  margin-right: 100px;
  
}
main {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.text1 {
  width: 885px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  margin-top: 37px;
  margin-bottom: 34px;

}
.text2 {
  width: 885px;
  height: 109px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  margin-bottom: 54px;
}
.foot {
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  margin-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 30px;
  
  }
.coop {
  float: right;
  padding-top: 20px;
  padding-right: 40px;
  color: #0C1927;
}
  .foot-menu {
  display: flex;
  justify-content: space-around;
  width: 875px;
  height: 28px;
  margin-left: 40px;
  padding-top: 20px;
  margin-bottom: 21px;
  color: #0C1927;
}
.img-hover:hover{
  transition: transform 1.5s ease;
  transform: scale(1.1);
  }
.li1:hover {
  background-color: #222F3A;
}
.li2:hover {
  color: #35444F;
  background-color: #DBDBDB;
  display: flex;
  justify-content: center;
}
.li2-2:hover {
  transform: translateX(20px)
  
}
.li3:hover {
  color: #3181A6;
  border-bottom: 1px solid;
  margin-bottom: -13px;
}


